.pokemon-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.97);
  }
}
  
  .pokemon-img-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pokemon-img-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .pokemon-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(6px) brightness(0);
    opacity: 0.4;
    z-index: 0;
  }
  
  .pokemon-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  
  .pokemon-title-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    text-align: center;
  }
  
  .pokemon-title-header ion-card-title {
    margin: 0;
    font-size: 14px;
  }

  // Tipos & cores
  .type-fire {
  --ion-card-background: #f08030;
}

.type-water {
  --ion-card-background: #6890f0;
}

.type-grass {
  --ion-card-background: #78c850;
}

.type-electric {
  --ion-card-background: #f8d030;
}

.type-psychic {
  --ion-card-background: #f85888;
}

.type-ice {
  --ion-card-background: #98d8d8;
}

.type-ground {
  --ion-card-background: #e0c068;
}

.type-rock {
  --ion-card-background: #b8a038;
}

.type-ghost {
  --ion-card-background: #705898;
}

.type-dark {
  --ion-card-background: #705848;
}

.type-steel {
  --ion-card-background: #b8b8d0;
}

.type-fairy {
  --ion-card-background: #ee99ac;
}

.type-dragon {
  --ion-card-background: #7038f8;
}

.type-bug {
  --ion-card-background: #a8b820;
}

.type-fighting {
  --ion-card-background: #c03028;
}

.type-poison {
  --ion-card-background: #a040a0;
}

.type-normal {
  --ion-card-background: #a8a878;
}