<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons">
      <ion-avatar slot="start">
        <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getPokemonId(pokemon.url) + '.png'" alt="{{ pokemon.name }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ pokemon.name | titlecase }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row class="ion-justify-content-between ion-padding">
      <ion-button color="medium" (click)="prevPage()">Anterior</ion-button>
      <ion-button color="primary" (click)="nextPage()">Próxima</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>